<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="Hv.css">
    <title>cara/sello</title>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />

</head>

<body>
   <%-include('template/header'); %>
   
   <div class="container">
    
    <div class="coin" id="coin">
        <div class="heads">
            <img src="moneda.png">
        </div>
        <div class="tails">
            <img src="moneda.png">
        </div>
    </div>
    <div class="buttons">
        <button id="flip-button" class="btn btn-dark">
            Lanzar Moneda
        </button>
        <a class="nav-link" href="/Hv2"><button type="button" class="btn btn-success" id="boton">Iniciar juego</button></a>
    </div>
</div>
  <script src="effect.js"></script>
</body>
</html>