<body>
    <footer class="footer">
        <div class="text-center text-muted">
          <p>&copy; Milena Aristizabal.<br>Design - <a class="credit">TemplateFlip</a></p>
        </div>
      </footer>
</body>

